@import "../main";

.row {
  margin: 48px 0px;
}

.row__title {
  font-family: $font_title;
  color: white;
  padding: 0 12px;
  &::first-letter {
    color: red;
  }
}

.row__content {
  display: flex;
  justify-content: space-between;
  padding: 0px 32px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.row__content__poster {
  margin-right: 8px;
}

.row__content__poster__image {
  width: 120px;
  max-height: 180px;
}

.row__content__poster__image--large-poster {
  width: 200px;
}
